
    <section class='seqPage'>

    <form class='container' ng-submit='makeSeq.addNewSeq(filteredPoses, makeSeq.name)' Sequences= 'form-group'class='seqForm'>

      <fieldset>
        <label for="difficultyLevel"> Choose a practice level </label>
        <select name="difficultyLevel" ng-model="makeSeq.difficultyLevel">
        <option value="" disabled selected>Choose a practice level</option>
        <option value="1">Beginner</option>
        <option value="2">Intermediate</option>
        <option value="3">Advanced</option>
      </select>
        <!-- <input ng-model="makeSeq.difficulty" type="text" name="difficulty" placeholder="Difficulty"> -->
      </fieldset>
      <fieldset>
        <label for="focus"> Body Focus</label>
        <select name="focus" ng-model="makeSeq.bodyFocus">
        <option value="" disabled selected>Choose a body focus</option>
        <option value="Total">Total</option>
        <option value="Core">Core</option>
        <option value="Lower">Lower</option>
        <option value="Upper">Upper</option>
      </select>
      </fieldset>

      <fieldset>
        <label for="name">Sequence Name</label>
        <input ng-model="makeSeq.name" type="text" name="Sequence Name" placeholder="Name">
      </fieldset>


      <button>Create my sequence</button>
    </form>

    <ul class="list-group showPoses">
      <li class="list-group-item allPosts" ng-repeat="pose in makeSeq.showPoses | makeSeqFilter:makeSeq.difficultyLevel:makeSeq.bodyFocus as filteredPoses">
        <h2 ng-click="pose.showDetails = !pose.showDetails">{{pose.name}}</h2>
          <div class="pose-details" ng-show="pose.showDetails">
            <p>{{pose.sanskrit}}</p>
            <p>Type: {{pose.type}}</P>
            <p>Body Focus: {{pose.bodyFocus}}</P>
            <p>Difficulty: {{pose.difficulty}}</P>
          </div>
      </li>
    </ul>
    </section>
