
<form ng-submit='pose.addPose()' class= 'form-group'>
  <input class='form-control' type='text' ng-model='pose.newPose.name' required placeholder='Name'>
  <input class='form-control' type='text' ng-model='pose.newPose.sanskrit' required placeholder='Sanskrit'>
  <input class='form-control' type='text' ng-model='pose.newPose.type' required placeholder='Type'>
  <input class='form-control' type='text' ng-model='pose.newPose.difficulty' required placeholder='Difficulty'>
  <input class='form-control' type='text' ng-model='pose.newPose.bodyFocus' required placeholder='Body Focus'>
  <input class='form-control' type='text' ng-model='pose.newPose.tag' required placeholder='Tag'>
  <button>Create new Pose</button>
</form>
