body {
  margin: 0;
  padding: 0;
  text-align: center; }

.list-group {
  position: absolute;
  top: 20%; }

.showPoses {
  position: relative; }

.main-section {
  margin-bottom: 10em;
  margin-right: 13em;
  margin-left: 13em; }

.seqPoses {
  text-align: center; }

@media screen and (max-width: 1060px) {
  .main-section {
    margin-bottom: 8em;
    margin-right: 10em;
    margin-left: 10em; } }
@media screen and (max-width: 1024px) {
  .main-section {
    margin-bottom: 6em;
    margin-right: 7em;
    margin-left: 7em; } }
@media screen and (max-width: 712px) {
  .main-section {
    margin-bottom: 4em;
    margin-right: 6em;
    margin-left: 6em; } }
@media screen and (max-width: 400px) {
  .main-section {
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em; } }
header {
  top: 0;
  width: 100%;
  height: 30%;
  margin-top: -40px; }

.image {
  height: inherit;
  z-index: -1;
  width: 100%; }

.my-container {
  position: relative;
  overflow: hidden;
  text-align: center; }

.my-container img {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0.8; }

.footer {
  opacity: .7;
  background-color: #AAF0E5;
  position: relative;
  clear: both; }
  .footer p {
    position: absolute;
    bottom: -45px;
    right: 15px;
    font-size: 1.2em; }

.navtxt {
  color: #ec94a2;
  font-weight: bold;
  font-size: large; }

@media screen and (max-width: 1024px) {
  header {
    height: 35%;
    margin-top: -35px; } }
@media screen and (max-width: 712px) {
  header {
    height: 20%;
    margin-top: -20px; } }
@media screen and (max-width: 602px) {
  .navtxt {
    font-size: medium; } }
@media screen and (max-width: 400px) {
  header {
    margin-top: -15px; }

  .footer p {
    display: none; } }
.welcome {
  color: #74A5D6;
  display: none;
  font-family: 'Bitter', serif;
  font-style: italic; }

.lgp {
  color: #74A5D6;
  display: none;
  font-family: 'Bitter', serif; }

#left {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center; }

#right {
  width: 200px;
  height: 200px;
  float: right; }

#box {
  left: 20%;
  position: relative;
  width: 60%;
  height: 20em; }

.divider {
  position: absolute;
  left: 50%;
  top: 15%;
  bottom: 10%;
  border-left: 1px solid #334746; }

.lgForm {
  margin: 10px;
  padding-top: 10px; }

.lgInput {
  margin-bottom: 2em; }

.topInput {
  margin-top: 5em; }

.btn {
  width: 10em;
  background-color: #F0AAB5; }

@media screen and (max-width: 1060px) {
  #box {
    width: 70%; } }
@media screen and (max-width: 1024px) {
  .lgForm {
    margin: 20px;
    padding-top: 10px; } }
@media screen and (max-width: 900px) {
  .topInput {
    margin-top: 1em; }

  .divider {
    display: none; }

  #box {
    width: 100%; }

  #right {
    width: 200px;
    height: 200px;
    float: left; } }
@media screen and (max-width: 602px) {
  .welcome {
    display: block;
    margin-top: 40px; }

  .lgp {
    display: block; }

  .lgForm {
    margin: 5px;
    padding-top: 5px; } }
.liHover:hover {
  cursor: pointer;
  cursor: hand;
  background-color: #AAF0E5; }

.seqInput {
  margin-bottom: 1em; }

.seqPage {
  left: 60%;
  display: inline-block;
  text-align: center;
  padding-top: 2em; }

.seqWelcome {
  color: #74A5D6;
  font-family: 'Bitter', serif;
  font-style: italic; }

.select-style {
  width: 200px;
  border-radius: 3px;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; }

.select-style select {
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.topbtn {
  margin-top: 5px; }

.select-style select:focus {
  outline: none; }

/*# sourceMappingURL=main.css.map */
