<section class='container seqPage'>
<form ng-submit='makeSeq.addSequmakeSeq()' Sequences= 'form-group'class='seqForm'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.name' required placeholder='Name'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.sanskrit' required placeholder='Sanskrit'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.type' required placeholder='Type'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.difficulty' required placeholder='Difficulty'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.bodyFocus' required placeholder='Body Focus'>
  <input class='form-control' type='text' ng-model='makeSeq.newSequence.tag' required placeholder='Tag'>
  <button>Create my sequence</button>
</form>

<ul class="list-group showPoses">
  <li class="list-group-item allPosts" ng-repeat="pose in makeSeq.showPoses">
    <h2 ng-click="pose.showDetails = !pose.showDetails">{{pose.name}}</h2>
      <div class="pose-details" ng-show="pose.showDetails">
        <p>{{pose.sanskrit}}</p>
        <p>Type: {{pose.type}}</P>
        <p>Body Focus: {{pose.bodyFocus}}</P>
        <p>Difficulty: {{pose.difficulty}}</P>
      </div>
  </li>
</ul>
</section>
