
body {
  margin: 0;
  padding: 0;
}

.list-group{
  position: absolute;
  top: 20%;
}
.seqPage {
  position: relative;;
}
.showPoses {
  position: relative;;
}
// .my-container {
//     position: relative;
//     overflow: hidden;
//     text-align: center;
//     }
// .my-container img {
//     position: relative;
//     z-index: 2;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: auto;
//     opacity: 0.8;
// }
// .lgForm {
//   margin: 10px;
//   padding-top: 10px;
// }
// .lgInput {
//   margin-bottom:2em;
// }
// .topInput {
//   margin-top: 5em;
// }
// .btn {
//   width: 10em;
//   background-color: #F0AAB5;
// }
// h1 {
//   position: absolute;
//   margin-top:20em;
// }

.main-section {
  margin-bottom: 10em;
  margin-right: 13em;
  margin-left: 13em;
}
.seqInput{
  width: 200px;
  margin-bottom: 1em;
}
.seqPoses{
  text-align: center;
}
@media screen and (max-width: $bp-large2){
  .main-section {
    margin-bottom: 8em;
    margin-right: 10em;
    margin-left: 10em;

  }
}
@media screen and (max-width: $bp-large){
  .main-section {
    margin-right: 7em;
    margin-left: 7em;

  }
}
@media screen and (max-width: $bp-medium){
  .main-section {
    margin-right: 6em;
    margin-left: 6em;

  }
}
@media screen and (max-width: $bp-small){
  .main-section {
    margin-left: 3em;
    margin-right: 3em;
  }
};
