
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.list-group{
  position: absolute;
  top: 20%;
}
.seqPage {
  position: relative;;
}
.showPoses {
  position: relative;;
}

.main-section {
  margin-bottom: 10em;
  margin-right: 13em;
  margin-left: 13em;
}
.seqInput{
  width: 200px;
  margin-bottom: 1em;
}
.seqPoses{
  text-align: center;
}
@media screen and (max-width: $bp-large2){
  .main-section {
    margin-bottom: 8em;
    margin-right: 10em;
    margin-left: 10em;

  }
}
@media screen and (max-width: $bp-large){
  .main-section {
    margin-bottom: 6em;
    margin-right: 7em;
    margin-left: 7em;

  }
}
@media screen and (max-width: $bp-medium){
  .main-section {
    margin-bottom: 4em;
    margin-right: 6em;
    margin-left: 6em;

  }
}
@media screen and (max-width: $bp-small){
  .main-section {
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
  }
};
