.liHover:hover {
 cursor: pointer; cursor: hand;
 background-color: $themeGreen;

}

.seqInput{
  margin-bottom: 1em;
}

.seqPage {
  left: 60%;
  display: inline-block;
  text-align: center;
  padding-top: 2em;
}
.seqWelcome {
  color: $themeBlue;
  font-family: 'Bitter', serif;
  font-style: italic;
}
.select-style {
    width: 200px;
    border-radius: 3px;
    margin: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

}
.topbtn{
  margin-top: 5px;
}
.select-style select:focus {
    outline: none;
}
