header {
  top: 0;
  width: 100%;
  height: 30%;
  margin-top: -40px;
}
.menu{
border: none;

}
.image {
  height: inherit;
  z-index: -1;
  width: 100%;
}
.my-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    }
.my-container img {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.footer{
  opacity: .7;
  background-color:  $themeGreen;
  position: relative;
  clear: both;
  p{
    position: absolute;
    bottom: -45px;
    right: 15px;
    font-size: 1.2em;
  }
}
.nav-pills>li>a {
    border-radius: 0px;
    background-color: white;
    margin-top: 4px;
    border: 3px solid $themeGreen;
    // border-top: none;
  }
  .nav-pills>li>a:hover {
      border-radius: 0px;
      background-color: white;
      margin-top: 0px;
      border: 3px solid $themeGreen;
      border-top: none;
    }
  .navtxt {
    color: $themeBlue;
    font-size: medium;
}

@media screen and (max-width: $bp-large){
  header{
    height: 35%;
    margin-top: -35px;
  }
}
@media screen and (max-width: $bp-medium){
  header{
    height: 20%;
    margin-top: -20px;
  }
}
@media screen and (max-width: $bp-small){
  header{
    margin-top: -15px;
  }
}
