header {
  top: 0;
  width: 100%;
  height: 30%;
  margin-top: -40px;
}
.image {
  height: inherit;
  z-index: -1;
  width: 100%;
}
.my-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    }
.my-container img {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.footer{
  opacity: .7;
  background-color:  $themeGreen;
  position: relative;
  clear: both;
  p{
    position: absolute;
    bottom: -45px;
    right: 15px;
    font-size: 1.2em;
  }
}
  .navtxt {
    color: #ec94a2;
    font-weight: bold;
    font-size: large;
}
.navtxt:hover{
  color: #ec94a2;
}
.navtxt:focus{
  color:$themeBlue;
}

@media screen and (max-width: $bp-large){
  header{
    height: 35%;
    margin-top: -35px;
  }
}
@media screen and (max-width: $bp-medium){
  header{
    height: 20%;
    margin-top: -20px;
  }
}
@media screen and (max-width: $bp-small2){
.navtxt {
   font-size: medium;
 }
 .footer p {
   display: none;
 }
}
@media screen and (max-width: $bp-small){
  header{
    margin-top: -15px;
  }
  .navtxt {
  }
}
