.welcome {
  color: #74A5D6;
  display: none;
  font-family: 'Bitter', serif;
  font-style: italic;
}

.lgp {
  color: #74A5D6;
  display:none;
  font-family: 'Bitter', serif;
}

#left {
    width:200px;
    height:200px;
    float:left;
    text-align: center;
}

#right {
    width:200px;
    height:200px;
    float:right;
}

#box {
    left: 20%;
    position: relative;
    width:60%;
    height:20em;
}
.divider{
    position:absolute;
    left:50%;
    top:15%;
    bottom:10%;
    border-left:1px solid #334746;
}
.lgForm {
  margin: 10px;
  padding-top: 10px;
}
.lgInput {
  margin-bottom:2em;
}
.topInput {
  margin-top: 5em;
}
.btn {
  width: 10em;
  background-color: #F0AAB5;
}
@media screen and (max-width: $bp-large2){

  #box{
    width: 70%;
  }
}
@media screen and (max-width: $bp-large){

    .lgForm {
      margin: 20px;
      padding-top: 10px;
    }

}
@media screen and (max-width: $bp-medium2){
  .topInput {
    margin-top: 1em;
  }
  .divider{
    display: none;
    }
  #box{
    // left: 10%;
    width: 100%;
  }
  #right {
      width:200px;
      height:200px;
      float:left;
  }
}
@media screen and (max-width: $bp-small2){
  .welcome {
    display: block;
    margin-top: 40px;
  }
.lgp {
  display:block;
}
.lgForm {
  margin: 5px;
  padding-top: 5px;
  }
}
